[user]
	name = ZanzyTHEbar
	email = pyr0ndet0s97@gmail.com
	signingkey = pyr0ndet0s97@gmail.com
[commit]
	gpgsign = true
[credential]
	helper = store
[gpg]
	program = /usr/bin/gpg
[tag]
	gpgSign = true
